.title {
  color: var(--White, #fff);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: SF Pro Display;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container {
  width: 70rem;
  margin: 0px auto;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-shrink: 0;
}
.section {
  margin-top: 60px;
  margin-bottom: 100px;
}
.card {
  position: relative;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(25px);
  height: 43.75rem;
  width: 100%;
  padding: 7.75rem 6.875rem;
}
.text {
  color: var(--White, #fff);
  font-feature-settings: "clig" off, "liga" off;
  font-family: SF Pro Display;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 33.75rem;
  margin-bottom: 3.75rem;
}
.input {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  background: transparent;
  width: 26.875rem;
  height: 2.5rem;
  border: 0px;
  border-bottom: 0.125rem solid #808080;
  color: white;
  font-feature-settings: "clig" off, "liga" off;
  font-family: SF Pro Display;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.input::placeholder {
  color: white;
  font-feature-settings: "clig" off, "liga" off;
  font-family: SF Pro Display;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 3.13rem;
}
.btn {
  display: flex;
  width: 26.875rem;
  height: 3.75rem;
  padding: 0.9375rem 0rem 1rem 0rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-top: 1.2rem;
  border-radius: 1rem;
  background: #e32652;
  border: none;
  color: var(--White, #fff);
  font-feature-settings: "clig" off, "liga" off;
  font-family: SF Pro Display;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.input:focus {
  outline: none;
  transition: 0.4s;
  border-bottom: 0.125rem solid #e32652;
}
.btn:hover {
  color: #e32652;
  border: 3px solid #e32652;
  background: transparent;
  transition: 0.2s;
}
.clicked {
  background: var(--Dark, #232323);
  border: 3px solid #232323;
  color: white;
}
.clicked:hover {
  color: white;
  border: 3px solid #232323;
  background: #232323;
  transition: 0.2s;
}
.side {
  height: 31.25rem;
  width: 32.6875rem;
  border-radius: 1.25rem;
  background: var(--Red, #e32652);
  display: flex;
  flex-direction: column;
  padding: 3.375rem 14.3125rem 3.4375rem 3.9375rem;
  position: absolute;
  right: -7rem;
  bottom: 6.25rem;
  gap: 48px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 2s ease, transform 2s ease;
}

.sideTitle {
  color: var(--White);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.side ul {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.side ul li {
  display: flex;
  align-items: center;
  gap: 24px;
  color: var(--White);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sideVisible {
  opacity: 1;
  transform: translateY(0);
}
