
.services {
  text-align: center;
  background: url(./../../../public/portfolio/bg.png) no-repeat;
  background-position: calc(50% - 15px) 123px;
}
.box {
  display: inline-flex;
  flex-direction: column;
  padding: 3.75rem 0 5rem;
  gap: 1.25rem;
}
.title {
  color: var(--White, #fff);
  font-feature-settings: "clig" off, "liga" off;
  /* Headline 1 */
  font-family: SF Pro Display;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}
.text {
  color: #fff;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: SF Pro Display;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 54.875rem;
}
.servicesCard {
  border-radius: 1px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 7px 7px 35px 4px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(25px);
  display: inline-flex;
  padding: 3.1875rem 4.0625rem 3.25rem 4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  margin-bottom: 7.5rem;
  width: 69.375rem;
  height: 17.5rem;
}
.cardTitle {
  color: var(--White, #fff);
  font-feature-settings: "clig" off, "liga" off;
  /* Headline 1 */
  font-family: SF Pro Display;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: none;
  text-align: center;
  /* width: 981px; */
  padding-bottom: 0.625rem;
}
.cardText {
  color: var(--White, #fff);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: SF Pro Display;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: none;
}
.tools {
  padding-bottom: 6.25rem;
}
.row {
  display: flex;
  justify-content: center;
  padding-top: 3.1875rem;
  gap: 1.875rem;
}
.col6 {
  border-radius: 1.25rem;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(25px);
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  display: inline-flex;
  height: 22.4375rem;
  padding: 1.875rem 1.6875rem 3.375rem 1.75rem;
}

.toolsTitle {
  color: var(--White, #fff);
  font-feature-settings: "clig" off, "liga" off;
  /* Headline 1 */
  font-family: SF Pro Display;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: none;
  text-align: center;
  /* width: 981px; */
}
.boxImages {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4.375rem;
  background: none;
}
.images {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}




@media only screen and (max-width: 500px) {


  .services {

    position: relative;

    text-align: center;

    background-image: url(./../../../public/portfolio/figma.svg),

      url(./../../../public/portfolio/shield-tick.svg);


    background-position: 1.5625rem 5rem, 1.5625rem 33.3125rem;

    background-repeat: no-repeat;

  }

  .box {

    padding: 1.25rem 0 1.625rem;

    gap: 0.62rem;

  }

  .title {

    font-size: 1.25rem;

  }

  .text {


    font-size: 0.875rem;

    width: 22.5rem;

  }

  .servicesCard {

    border-radius: 0.325rem;

    background: rgba(255, 255, 255, 0.15);

    box-shadow: 2.275px 2.275px 11.375px 1.3px rgba(0, 0, 0, 0.2);

    backdrop-filter: blur(8.125px);

    padding: 0.9375rem;

    gap: 0.62rem;

    margin-bottom: 1.88rem;

    width: 22.5rem;

    height: 12.5rem;

  }

  .cardTitle {

    font-size: 1.25rem;

    padding-bottom: 0.62rem;

  }

  .cardText {

    font-size: 0.875rem;

    width: 20.625rem;

  }

  .tools {

    padding-bottom: 1.8rem;

  }

  .row {

    padding-top: 1.8rem;

    justify-content: center;

    display: block;

  }
  .col6 {

    border-radius: 0.325rem;

    background: rgba(255, 255, 255, 0.15);

    box-shadow: 2.275px 2.275px 11.375px 1.3px rgba(0, 0, 0, 0.2);

    backdrop-filter: blur(8.125px);

    padding: 0.9375rem;

    gap: 0.62rem;


    margin-bottom: 1.88rem;

    width: 22.5rem;

    height: 12.5rem;

  }


  .toolsTitle {

    padding-top: 1.55rem;

    font-size: 1.25rem;

  }


  .boxImages {

    padding-top: 1.25rem;

    gap: 1.25rem;

  }

  .images {

    width: 1.875rem;

    height: 1.875rem;

  }

}
