.services{
  text-align: center;
}
.box {
  display: inline-flex;
  flex-direction: column;
  padding: 60px 0 80px;
  gap: 20px;
}
.title {
  color: var(--White, #fff);
  font-feature-settings: "clig" off, "liga" off;
  /* Headline 1 */
  font-family: SF Pro Display;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;

}
.text {
  color: #fff;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: SF Pro Display;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 878px;
}
.servicesCard {
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 7px 7px 35px 4px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(25px);
  display: inline-flex;
  padding: 51px 65px 52px 64px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 120px;
  width: 1110px;
  height: 280px;
}
.cardTitle {
  color: var(--White, #fff);
  font-feature-settings: "clig" off, "liga" off;
  /* Headline 1 */
  font-family: SF Pro Display;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: none;
  text-align: center;
  /* width: 981px; */
  padding-bottom: 10px;
}
.cardText {
  color: var(--White, #fff);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: SF Pro Display;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: none;
  min-height: 155px;
}
.tools {
  margin-bottom: 100px;
}
.row {
  padding-top: 51px;
}
.col6 {
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(25px);
  flex-direction: column;
  align-items: center;
  gap: 40px;
  display: inline-flex;
  height: 359px;
  padding: 30px 27px 54px 28px ;
  margin-right: 30px;
}

.toolsTitle {
  color: var(--White, #fff);
  font-feature-settings: "clig" off, "liga" off;
  /* Headline 1 */
  font-family: SF Pro Display;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: none;
  text-align: center;
  /* width: 981px; */
}

.boxImages {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 70px;
  background: none;
}
.images {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  margin-top: 10px;
}
.container {
  text-align: center;
}
