.projects {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3.75rem 0 6rem;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.title {
  color: var(--White, #fff);
  font-feature-settings: "clig" off, "liga" off;
  /* Headline 1 */
  font-family: SF Pro Display;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 4rem;
}
.card {
  position: relative;
  width: 69.375rem;
  height: 21.875rem;
  flex-shrink: 0;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 7px 7px 35px 4px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(25px);
  display: flex;
  margin-bottom: 3.5rem;
  gap: 3.125rem;
  transition: all 0.5s ease;
}
.card:hover {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 7px 7px 35px 4px rgba(0, 0, 0, 0.2);
}
.card:hover .rightCard {
  opacity: 0;
  visibility: hidden;
}

.card:hover .btn {
  opacity: 1;
}
.btn {
  display: flex;
  width: 22.5rem;
  height: 5rem;
  padding: 1.625rem 5.3125rem 1.5625rem 5.3125rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 1rem;
  background: var(--Red, #e32652);
  color: var(--White, #fff);
  font-feature-settings: "clig" off, "liga" off;

  /* Headline 2 */
  font-family: SF Pro Display;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: absolute;
  top: 8.4375rem;
  right: 8.5rem;
  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap;
  transition: all 0.4s ease;
}

.btn:hover {
  border: 3px solid var(--Red, #e32652);
  background: none;
  color: var(--Red, #e32652);
}
.leftCard {
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  background: none;
  gap: 0.9375rem;
}
.images {
  border-radius: 1000px;
  background: lightgray 50% / cover no-repeat;
}
.name {
  color: #fff;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: SF Pro Display;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: none;
}
.info {
  color: var(--White, #fff);
  font-feature-settings: "clig" off, "liga" off;
  font-family: SF Pro Display;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 27.3125rem;
  background: none;
  text-align: start;
}
.rightCard {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  background: none;
  gap: 1.25rem;
}
.slide {
  border-radius: 1rem;
  background: var(--White, #fff);
}
.nav {
  background: none;
  display: flex;
  align-items: flex-start;
  gap: 0.625rem;
}
.svgNav {
  background: none;
}

@media only screen and (max-width: 767px) {
  .projects {
    padding: 0.75rem 0 2rem;
  }
  .title {
    font-size: 1.25rem;
    padding-bottom: 1.25rem;
  }
  .card {
    width: 21.5rem;
    height: 7.5rem;
    border-radius: 0.32431rem;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 2.27027px 2.27027px 11.35135px 1.2973px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8.108108520507812px);
    margin-bottom: 0.6rem;
    gap: 2.07938rem;
  }
  .btn {
    width: 7.5rem;
    height: 2rem;
    padding: 0.5rem 2.38rem;
    border-radius: 0.32431rem;
    font-size: 0.5rem;
    top: 2.95rem;
    right: 2.25rem;
  }
  .leftCard {
    position: absolute;
    top: 0.56rem;
    left: 0.56rem;
    gap: 0.31rem;
  }
  .images {
    width: 2.5rem;
    height: 2.5rem;
    flex-shrink: 0;
    border-radius: 1000px;
    background: lightgray 50% / cover no-repeat;
  }
  .name {
    font-size: 0.625rem;
  }
  .info {
    font-size: 0.5rem;
    width: 8.85811rem;
  }
  .rightCard {
    top: 0.9375rem;
    right: 0.9375rem;
    gap: 0.37rem;
  }
  .slide {
    border-radius: 0.32431rem;
    width: 10rem;
    height: 5rem;
  }
  .nav {
    gap: 0.25rem;
  }
  .svgNav {
    background: none;
    width: 0.25rem;
    height: 0.25rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .projects {
    padding: 0.75rem 0 3rem;
  }
  .title {
    font-size: 1.25rem;
    padding-bottom: 1.25rem;
  }
  .card {
    width: 37.5rem;
    height: 10.25rem;
    border-radius: 0.52431rem;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 2.27027px 2.27027px 11.35135px 1.2973px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8.108108520507812px);
    margin-bottom: 1rem;
    gap: 2.07938rem;
  }
  .btn {
    width: 10.75rem;
    height: 2.5rem;
    padding: 0.5rem 2.38rem;
    border-radius: 0.52431rem;
    font-size: 0.8rem;
    top: 3.55rem;
    right: 2.25rem;
  }
  .leftCard {
    position: absolute;
    top: 0.75rem;
    left: 0.75rem;
    gap: 0.41rem;
  }
  .images {
    width: 2.5rem;
    height: 2.5rem;
    flex-shrink: 0;
    border-radius: 1000px;
    background: lightgray 50% / cover no-repeat;
  }
  .name {
    font-size: 0.925rem;
  }
  .info {
    font-size: 0.75rem;
    width: 15rem;
  }
  .rightCard {
    top: 1.25rem;
    right: 1.25rem;
    gap: 0.37rem;
  }
  .slide {
    border-radius: 0.52431rem;
    width: 14.75rem;
    height: 7.5rem;
  }
  .nav {
    gap: 0.25rem;
  }
  .svgNav {
    background: none;
    width: 0.25rem;
    height: 0.25rem;
  }
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.cardSlideFromLeft {
  animation: slideFromLeft 1s forwards;
}

.cardSlideFromRight {
  animation: slideFromRight 1s forwards;
}
