@import url("https://fonts.cdnfonts.com/css/sf-pro-display?styles=98774,98777,98776,98772,98773,98775,98770,98771,98769");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: var(--White);
  font-family: "SF Pro Display", sans-serif !important;
}

body {
  background: var(--Dark);
}

.container {
  width: 80%;
  margin: 0px auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --Dark: #232323;
  --White: #fff;
  --Red: #e32652;
  --Grey: #808080;
}
